.example {
    transition: all 0.5s;
}

.example.entering {
    opacity: 0;
    transform: translateX(-20px);
}

.example.exiting {
    opacity: 0;
    transform: translateX(20px);
}

.example.exited {
    display: none;
}
